workshop1/force-app/main/default/flows/CreatInvoiceClaim.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>SetInvoiceName</name>
        <label>SetInvoiceName</label>
        <locationX>506</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>InvoiceName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInvoiceName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FetchInvoice</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>MatchInvoice</name>
        <label>MatchInvoice</label>
        <locationX>279</locationX>
        <locationY>53</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>FoundInvoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasInvoiceName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetInvoiceName</targetReference>
            </connector>
            <label>FoundInvoice</label>
        </rules>
    </decisions>
    <formulas>
        <name>GetInvoiceName</name>
        <dataType>String</dataType>
        <expression>MID({!EmailSubject},5,9)</expression>
    </formulas>
    <formulas>
        <name>hasInvoiceName</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!EmailSubject},&quot;^Ref\\sINV\\-[0-9]{5}\\:.*$&quot;)</expression>
    </formulas>
    <interviewLabel>CreatInvoiceClaim {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreatInvoiceClaim1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateClaimNote</name>
        <label>CreateClaimNote</label>
        <locationX>853</locationX>
        <locationY>335</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CurrentInvoice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Note</object>
    </recordCreates>
    <recordLookups>
        <name>FetchInvoice</name>
        <label>FetchInvoice</label>
        <locationX>667</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateClaimNote</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceName</elementReference>
            </value>
        </filters>
        <object>Invoice__c</object>
        <outputReference>CurrentInvoice</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>MatchInvoice</startElementReference>
    <status>Active</status>
    <variables>
        <name>CurrentInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>EmailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>InvoiceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
</Flow>
